<a href="https://colab.research.google.com/github/youssefkamil/Arabic-Dialect-Identification/blob/main/Fetch_data_for_Arabic_Dialect_Identification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
import json
import pandas as pd

In [ ]:
url = 'https://recruitment.aimtechnologies.co/ai-tasks'
myobj = [str(df['id'][0]), "1057418989293485952"]
myobj=json.dumps(myobj)
x = requests.post(url, data = myobj)
x=x.json()

In [ ]:
x.items()

dict_items([('1175358310087892992', '@Nw8ieJUwaCAAreT Ù„ÙƒÙ† Ø¨Ø§Ù„Ù†Ù‡Ø§ÙŠØ© .. ÙŠÙ†ØªÙØ¶ .. ÙŠØºÙŠØ± .'), ('1057418989293485952', '@mycousinvinnyys @hanyamikhail1 Ù…ØªÙ‡ÙŠØ§Ù„ÙŠ Ø¯ÙŠ Ø´ÙƒÙˆÙ„Ø§ØªÙ‡ Ø§Ù„Ù‡Ø§Ù„ÙˆÙŠÙ†  ÙÙŠÙ† Ø§Ù„Ù…Ø­Ù„ Ø¯Ù‡')])

In [ ]:
df=pd.read_csv('/content/dialect_dataset.csv')

In [ ]:
x=0
data=[]
ids=[]
for i in range(len(df)):
  if (i%1000==0) & (i >0) :

    ids=json.dumps(ids)
    x = requests.post(url, data = ids)
    data.append(x.json())    
    ids=[]
    
  ids.append(str(df['id'][i]))
                        #################### to get last 198 ###########################
ids=json.dumps(ids)                               
x = requests.post(url, data = ids)
data.append(x.json())

In [ ]:
df['tweet']=''
df

                         id dialect tweet
0       1175358310087892992      IQ
1       1175416117793349632      IQ
2       1175450108898565888      IQ
3       1175471073770573824      IQ
4       1175496913145217024      IQ
...                     ...     ...   ...
458192  1019484980282580992      BH
458193  1021083283709407232      BH
458194  1017477537889431552      BH
458195  1022430374696239232      BH
458196  1022409931029458944      BH

[458197 rows x 3 columns]

In [ ]:
FinalData=[]
for ListJson in data:
  for id, tweet in ListJson.items():
    dialect=((df[df['id']==int(id)]['dialect']))
    # print(dialect)
    FinalData.append(  [ id, dialect.values[0]  , tweet ] )

In [ ]:
FinalData[0:10]

[['1175358310087892992',
  'IQ',
  '@Nw8ieJUwaCAAreT Ù„ÙƒÙ† Ø¨Ø§Ù„Ù†Ù‡Ø§ÙŠØ© .. ÙŠÙ†ØªÙØ¶ .. ÙŠØºÙŠØ± .'],
 ['1175416117793349632',
  'IQ',
  '@7zNqXP0yrODdRjK ÙŠØ¹Ù†ÙŠ Ù‡Ø°Ø§ Ù…Ø­Ø³ÙˆØ¨ Ø¹Ù„Ù‰ Ø§Ù„Ø¨Ø´Ø± .. Ø­ÙŠÙˆÙ†Ù‡ ÙˆÙˆØ­Ø´ÙŠÙ‡ .. ÙˆØªØ·Ù„Ø¨ÙˆÙ† Ù…Ù† Ø§Ù„ØºØ±Ø¨ ÙŠØ­ØªØ±Ù…ÙƒÙ… ÙˆÙŠØ¤Ù…Ù† Ø¨Ø¯ÙŠÙ†ÙƒÙ… ÙˆÙ„Ø§ÙŠÙ†Ø¹ØªÙƒÙ… Ø¨Ø§Ù„Ø¥Ø±Ù‡Ø§Ø¨ ..'],
 ['1175450108898565888', 'IQ', '@KanaanRema Ù…Ø¨ÙŠÙ† Ù…Ù† ÙƒÙ„Ø§Ù…Ù‡ Ø®Ù„ÙŠØ¬ÙŠ'],
 ['1175471073770573824', 'IQ', '@HAIDER76128900 ÙŠØ³Ù„Ù…Ù„ÙŠ Ù…Ø±ÙˆØ±Ùƒ ÙˆØ±ÙˆØ­Ùƒ Ø§Ù„Ø­Ù„ÙˆÙ‡ğŸ’'],
 ['1175496913145217024', 'IQ', '@hmo2406 ÙˆÙŠÙ† Ù‡Ù„ Ø§Ù„ØºÙŠØ¨Ù‡  Ø§Ø® Ù…Ø­Ù…Ø¯ ğŸŒ¸ğŸŒº'],
 ['1175668034146643968',
  'IQ',
  '@Badi9595 @KanaanRema ÙŠØ§Ø§Ø®ÙŠ Ø§Ù„Ø¥Ø±Ù‡Ø§Ø¨ÙŠ Ø§Ø°Ø§ ÙƒØ§Ù† Ø¹Ø±Ø§Ù‚ÙŠ Ø³Ø¹ÙˆØ¯ÙŠ ÙÙ„Ø³Ø·ÙŠÙ†ÙŠ ÙˆÙŠÙ† Ø§Ù„Ù…Ø´ÙƒÙ„Ø© Ø¹Ù„Ù‰ Ø¨Ø§Ø¨ Ø§Ù„ÙØ±Ø¶...Ø®Ù„ÙŠØ¬ÙŠ ÙˆÙ…Ø§Ø¹Ù†Ø¯Ù‡ Ø±Ø­Ù…Ù‡ ÙˆÙŠÙ† Ø§Ù„Ù…Ø³Ø§Ø³ Ø¨Ù‚Ø¯Ø³ÙŠØªÙƒ .. Ø§Ù„Ù„Ù‡ ÙŠØ±Ø¶Ù‰ Ø¹Ù†Ùƒ Ø®Ù„ØµØª Ù…Ø´Ø§ÙƒÙ„ Ø§Ù„Ø¹Ø±Ø¨ ÙˆØ§Ø®ØªÙ„ÙÙ†Ø§ Ø¨Ø¬Ù†Ø³ÙŠØª Ø§Ø¨Ùˆ Ø§Ù„Ø·ÙÙ„ .. Ø§Ù„Ù…ØºØ±Ø¯ÙŠÙ† Ø³Ø£Ù„ÙˆØ§ Ù…Ù† ÙˆÙŠÙ† ÙˆØ±Ø¬Ø­Øª ÙˆÙŠÙ† Ø§Ù„ÙƒØ§Ø±Ø«Ø© Ø§Ù„Ù„ÙŠ ÙˆØµÙ„ØªÙƒ'],
 ['1175670153884983296',
  'IQ',
  '@SarahNadhum90 @nUBNTdfVgACYQxV Ù…Ø·Ù„Ø¨ÙŠ ÙŠÙ‚Ø¯Ù… Ø§Ø³ØªÙ‚Ø§Ù„ØªÙ‡ ÙˆÙÙˆÚ¯Ø§Ù‡Ø§ Ø§Ø¹ØªØ°Ø§Ø±'],
 ['1175671762580856832',
  'IQ',
  '@KanaanRema @Badi9595 Ø®Ù„Øµ ÙˆØ§Ù„Ù„Ù‡ Ù„Ø¹ÙŠÙˆÙ†ÙƒÙ… Ø§Ù†Ø§ Ù…Ø§Ø¹Ù†Ø¯ÙŠ Ø´ÙŠØ¡ Ù…Ø¹Ù‡ Ø¨Ø§Ù„Ø¹ÙƒØ³ Ù…Ù† Ù…ØªØ§Ø¨Ø¹ÙŠÙ†ÙŠ Ø§Ù„Ù„ÙŠ Ø¨Ø¹ØªØ² ÙÙŠÙ‡Ù… ... Ø®Ù„Øµ ØµØ§ÙÙŠØ© Ù„Ø¨Ù† ğŸŒ¸ğŸ™ğŸŒ·'],
 ['1175715664398561280',
  'IQ',
  '@SalahAlarbawi ÙŠÙ…ÙƒÙ† Ø³Ø¤Ø§Ù„ ÙØ§Øª Ø§Ù„ÙƒØ«ÙŠØ± Ø§Ù„Ù„ÙŠ ÙŠØµÙˆØ±   Ø´Ù†Ùˆ Ù…ÙˆÙ‚ÙÙ‡ ÙˆÙƒØ£Ù†Ù‡ ÙŠÙˆØ«Ù‚ Ø¨Ø·ÙˆÙ„Ù‡ .. Ø§Ù„Ù…ÙØ±ÙˆØ¶ Ø­ØªÙ‰ Ø§Ù„Ù…ØµÙˆØ± ÙŠØ­Ø§Ù„ Ù„Ù„Ù‚Ø¶Ø§Ø¡ Ù„Ø§Ù† Ù†Ø¸Ø±Ø§Øª Ø§Ù„Ø·ÙÙ„Ù‡ ØªØ³ØªÙ†Ø¬Ø¯ Ø¨Ø§ØªØ¬Ø§Ù‡ Ø§Ù„ÙƒØ§Ù…ÙŠØ±Ø§..'],
 ['1176019816072777728',
  'IQ',
  '@Eng_alow91 @cb4LwpWrS1hT5lb @EdyCohen Ø§ÙˆÙ„Ø§ Ø§Ù†ÙŠ Ø±Ø¯Øª Ø¹Ù„Ù‰ Ø±Ø¬Ù„ Ø¬Ù†ÙˆØ¨ÙŠ ÙˆØ§Ù„Ù„ÙŠ Ø°ÙƒØ± Ø­Ø¬Ø§Ø¨Ù‡Ø§ ... Ø«Ø§Ù†ÙŠØ§Ù‹ Ø§Ù†Øª Ø´Ø¯Ø¹ÙˆÙ‡ ØµØ§ÙŠØ±Ù‡ Ù…Ø­Ø§Ù…ÙŠ Ù„ÙƒÙˆÙ‡ÙŠÙ† ... ØµØ­ÙŠØ­ Ù…Ù‚ÙˆÙ„Ø© Ø§Ù„Ø¹Ø±Ø§Ù‚ Ø¨Ù„Ø¯ Ø§Ù„ØºØ±Ø§Ø¦Ø¨ ÙˆØ§Ù„Ø¹Ø¬Ø§Ø¦Ø¨']]

In [ ]:
len(FinalData)

458197

In [ ]:
df = pd.DataFrame(FinalData, columns =['id', 'dialect', 'tweet'])
df.to_csv('/content/drive/MyDrive/Arabic Dialect/tweetsWithLabels.csv')

In [ ]:
df.iloc[302336]['tweet']

'@haso1181 ØµØ­ÙŠØ­ ÙŠØ§ ØºØ§Ù„ÙŠ ÙˆÙ‡Ùˆ Ù…ØªÙˆÙØ± Ù…Ù† ÙØªØ±Ø© ÙÙŠ Ù…Ø­Ù„Ø§Øª Ø§Ù„Ø³ÙˆØ¨Ø±Ù…Ø§Ø±ÙƒØª Ø§Ù„ÙƒØ¨ÙŠØ±Ø© Ø§Ù„Ù…Ø¹Ø±ÙˆÙØ©'